node_modules
package-lock.json
results/config
config/uo-config.js
config/aroon_public.js
config/bodhi.js
config/cci-config.js
config/dema-config.js
config/gannswing-config.js
config/gdax_eth.js
config/my-config.js
config/saichovsky.js
config/stochastic.js
config/stochrsi-config.js
config/stochrsi_bch-config.js
config/tema.js
config/tsi-config.js
config/tulip_multi-config.js
